footer {
  display: flex;
  justify-content: flex-start;
  padding: 0 10rem;
  background-color: #e7e7e7;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  footer {
    padding: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  footer {
    padding: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  footer {
    font-size: 0.7rem;
    padding: 0;
    justify-content: center;
  }
}
